
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Uygulamam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-4 col-lg-3"></div>
                <div class="col-sm-8 col-md-4 col-lg-6">
                    <img src="~/images/logo.png" style="width:100%;" />
                    <div style="margin-top:10px;">
                        @RenderBody()
                    </div>

                </div>
                <div class="col-sm-2 col-md-4 col-lg-3"></div>
            </div>
            <div class="row">

            </div>

            <hr />
            <div class="row">
                <footer>
                    <center>&copy; @DateTime.Now.Year - Saat&Saat</center>
                </footer>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jsSaatveSaat")

</body>
</html>
